.container {
  display: grid;
  grid-template-areas: 'image text';
  position: relative;
}

.image {
  grid-area: image;
  width: 100%;
  height: auto;
  display: block;
}

.text {
  grid-area: text;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
